body {
    background: #02b296;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.santa {
    position: relative;
    width: 250px;
    height: 350px;
}

.hat {
    position: absolute;
    background: #ef5c53;
    width: 100%;
    height: 100px;
    top: 50px;
    border-radius: 100px 100px 0 0;
    z-index: 1;
}

.hat:before {
    content: '';
    position: absolute;
    width: 120%;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    top: 90px;
    margin-left: -10%;
}

.hat:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    top: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.ear {
    position: absolute;
    width: 48px;
    height: 48px;
    background: #ffe1c7;
    top: 174px;
    border-radius: 50%;
    z-index: -2;
}

.ear.left {
    left: -24px;
}

.ear.right {
    right: -24px;
}

.face {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    background: #fff;
    border-radius: 0 0 120px 120px;
    overflow: hidden;
}

.face i:nth-of-type(1),
.face i:nth-of-type(2) {
    position: absolute;
    width: 50%;
    height: 50%;
    background: #ffe1c7;
    top: 0;
    display: block;
    border-radius: 0 0 45% 45%;
    overflow: hidden;
}

.face i:nth-of-type(1) {
    left: 5%;
}

.face i:nth-of-type(2) {
    right: 5%;
}

.eye {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #000;
    top: 30px;
    border-radius: 50%;
}

.eye.left {
    left: 50px;
}

.eye.right {
    right: 50px;
}

.nose {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ef5c53;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet');
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}