body{
  display : flex;
  background : #FFF9A6;
  height : 100vh;
  justify-content :center;
  align-items: center;
  margin : 0;
  padding : 0;
}

#switch{
  visibility : hidden;
  position : absolute;
}

.switch-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative;
    transition: 0.5s all ease;
}

.switch-label .toggle{
  width : 25px;
  height : 25px;
  background-color: #FF4C74;
  border-radius : 50px;
  position : absolute;
  left : 3px;
  transition: .5s all ease;
}

.wrapper{
  display : flex;
  transistion : 1s all ease;
  width :100%;
  height : 100vh;
  align-items : center;
  justify-content : center;
}

#switch:checked~ .switch-label{
  background: #FF4C74;
  border : none;
  transistion : .5 all ease;
}

#switch:checked~ .switch-label .toggle{
  height : 20px;
  border-radius :50px;
  box-shadow : 0 -6px 0 0 #ffff;
  transform: scale(.9) translateX(75px) rotate(90deg);
  transistion : 1 all ease;
}

.dark{
  background : #000;
  transistion : 1s all ease;
}